.wrapper {
  width: 12vw;
  height: 12vh;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;

  transition: margin 0.2s;
  -webkit-box-shadow: 0px 10px 13px -7px #000000,
    11px 8px 15px -4px rgba(0, 0, 0, 0.67);
  box-shadow: 0px 10px 13px -7px #000000, 11px 8px 15px -4px rgba(0, 0, 0, 0.67);
}

.disabled {
  pointer-events: none;
}

.wrapper:hover {
  margin: -5px;
}

.wrapperRed {
  background: var(--red-600);
  color: var(--white);
}

.wrapperBlue {
  background: var(--blue-600);
  color: var(--white);
}

.wrapperGray {
  background: var(--gray-600);
  color: var(--white);
}

.wrapperBlack {
  background: var(--black);
  color: var(--white);
}

.wrapper h3 {
  font-weight: bold;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;
}
